<h2 class="order_complete">Thank you for your order!</h2>

<h5 class="order_details">
  Order # <%= @cart.id %> will be shipping to you, <%= @cart.user.email %> as soon as possible! We aim to have your order at your door in 30 minutes or less! 
</h5>

<%= link_to 'Home', root_path %>