/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, 
body {
    background-image: url(background.jpeg);
    background-size: cover;
    margin:0;
    padding:0;
    height:100%;
}

.jumbotron h1 {
    font-family: 'Dynalight', cursive;
}

.jumbotron { 
    background-color: rgba(255,255,255, 0.5) !important;
    color: inherit;
}

.navbar.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.glyphicon-menu-hamburger {
    color: white;
}

.delivered_to {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    color: black;
}

.order_complete {
    font-family: 'Dynalight', cursive;
    font-size: 4em;
    color: black;
}

.order_details {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.service_area {
    font-family: 'Dynalight', cursive;
    font-size: 4em;
    color: black;
}

.f_name {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.shopping_title {
    font-family: 'Dynalight', cursive;
    font-size: 3em;
    color: black;
}

.table {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.subtotal {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}


.ailments {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: black;

}

.font_title h1 {
    font-family: 'Dynalight', cursive;
    font-size: 7em;
    color: white;
}

.font_subtitle h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: white;
}

#sa-map, #sa-ck-map {
    width: 100%;
    height: 500px;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:;
   padding:;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}







